body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", Arial, sans-serif;
  min-width: 380px;
  background: rgba(60, 51, 119, 0.92);
}

.lead-tracker input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid #d34eff59; */
  box-shadow: 0 2px 8px #758cff85;
  background: #f5f5fa;
  margin-bottom: 4px;
  border-radius: 8px;
  outline: none;
}

.lead-tracker input::placeholder {
  font-size: 11px;
  color: rgb(166, 166, 166);
}

.lead-tracker button {
  background: linear-gradient(90deg, #62a2f7, #4579f5);
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
}

.lead-tracker #delete-btn {
  background: linear-gradient(135deg, #675df6, #9f6ff6);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

.lead-tracker ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

.lead-tracker li {
  margin-top: 8px;
  background: rgba(60, 51, 119, 0.92);
  box-shadow: 0px 0px 4px rgb(255 255 255 / 12%);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lead-tracker li a {
  color: #ffffffbd;
}

.lead-tracker li .delete-item-btn {
  background: linear-gradient(135deg, #675df6, #9f6ff6) !important;
  border-radius: 100px;
  padding: 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lead-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.favicon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}